@model Delifood.Models.CompraMercado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompraMercado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compra.CompraID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mercado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mercado.MercadoID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompraMercadoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
